*{
    padding: 0px !important;
    margin: 0px !important;
    list-style: none !important;
}
.carBodyDark{
    background-color: rgb(32, 32, 88) ;
    color:  red;
}
.itemDetailBodyDark{
    background-color: #1F3441;
}
.darkMode {
    background-color: #212529;
}
.center{
    margin-left: 5px !important;
    margin-bottom: 25px !important;
}

.imgPequeña{
    width: 30px !important;
}
.imgMediana{
    width: 600px !important;
}
.centerPosition{
    position:absolute;
    top: 15px;
    left: 18px;
}
.relativo{
    position: relative;
}
.height{
    height: 450px !important;
    width: 1280px!important;
    margin: 0 !important;
    padding: 0 !important;
}
.sticky{
    position:sticky!important;
    top:0px !important;
    z-index: 10;
}

